/* bodyタグ内の全ての要素に設定するスタイル */
/* 内部で別の設定をしない限りはこのスタイルになる */
body {

  /* color わかりづらいスタイル名ナンバーワン */
  /* フォント色を指定する。font-colorというスタイル名はないので注意 */
  color: #4f3311;

  /* font-size 設定しなければブラウザごと異なるデフォルトのフォントサイズになってしまうのでみやすい大きさのサイズを指定する */
  font-size: 18px;

  /* font-family 設定しなければブラウザごと異なるデフォルトのフォント名(ヒラギノ・メイリオ・MS Pゴシックなぢ)になってしまうので指定する */
  /* またフォント名の指定名称もブラウザによって異なります。少なくともChromeとEdgeそれぞれの書き分けをします */
  font-family: YuGothic, Yu Gothic;

  /* background 背景の見え方の設定。単色だけではなくグラデーションや画像を表示する書き方もできる */
  background: #ffffff;
}

/* タグ名ではなくクラス名にスタイルを紐づけたいときは頭にピリオドを書く */
.wrapper {

  /* divはブロック要素なのでサイズを指定できます */
  /* 基本的にヨコの長さを設定します。タテの長さの設定はブラウザによってテキスト表示のブレに対応できないので不便な場合が多いです */
  width: 800px;

  /* 余白系は引数の数によって指定位置が変化します。*/
  /* 引数が１つなら上下左右を同じ余白で設定。２つなら上下・左右。３つなら上・右左・下。４つなら上・右・下・左（時計回り） */
  /* 左右にのみautoの設定が可能です。自動計算で左右同じ余白にしてくれるので自然と中央寄せになります。 */
  margin: 80px auto;

  /* ブロックの内側にある全てのテキストを中央揃えにします。ブロック要素もなぜか中央寄せになります。 */
  text-align: center;

}

h1 {
  /* bodyタグに設定したフォントカラーとは違う色にしたい時は要素ごとに再指定します。 */
  color: #fd9700;
}


.container {
  width: 80%;
  margin: 40px auto;

  /* bodyタグに設定した背景色とは違う色にしたい時は要素ごとに再指定します。 */
  background: #ffe230;

  /* ブロックの内側に余白を設定できます。引数の付け方はmarginと同じです。 */
  /* 背景色の際までテキストが表示されるとみづらいのでpaddingがあるとスッキリします。 */
  padding: 40px 32px;

  /* ブロックのシルエットを角丸にします。 */
  /* border は枠線ですが、ブロック要素の境界という意味合いかなと思います。 */
  /* 引数は円の半径でその円周の1/4が４つの角に表現されます。 */
  /* そのため、小さい要素に角丸を設定する場合にどんなに大きな引数を書いていても、限界までしか大きく表示できません */
  border-radius: 8px;
}
